<section>
  <!--*ngFor é utilizado para iterar sobre uma variável, a fim de evitar a repitação por copy and paste
  há também outra maneira de fazer, a partir da v17
  @for(user of users; track user.id) // nesse caso, o track é utilizado para identificar o elemento, evitando a recriação do mesmo
    <app-user [user]="user"></app-user>
  -->
  <div *ngFor="let user of users">
    <app-user [user]="user" (select)="onSelectUser($event)"></app-user>
  </div>
</section>
<section>
  <app-tasks [tasks]="tasks"></app-tasks>
</section>