/* You can add global styles to this file, and also import other style files */

$primary-color: #4C5958;

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: $primary-color;
}
